html {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-image: linear-gradient(white, rgba(168, 0, 168, 0.649));
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  min-width: 100%;
}
h1 {
  color: #333;
}
code {
  background-color: #e8e8e8;
  padding: 2px 6px;
  border-radius: 4px;
  font-family: monospace;
}
.command {
  color: #007acc;
}
